# Build results
bin/
obj/
out/

# User-specific files
*.user
*.suo
*.userosscache
*.sln.docstates

# Visual Studio Code
.vscode/

# .NET Core
project.lock.json
project.fragment.lock.json
artifacts/

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# Test Results
TestResults/
*.trx

# Dependency folders
node_modules/
packages/
